.nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 1rem;
	position: sticky;
	top: 0;
	z-index: 999;
	background: hsla(0, 0%, 100%, 0.8);
	backdrop-filter: blur(10px);

	.nav-brand {
		display: flex;
		align-items: center;
		gap: 5px;
		z-index: 101;

		.brand-name {
			font-size: 1.5rem;
			font-weight: 600;
		}
	}

	.nav-actions {
		display: flex;
		gap: 15px;
		z-index: 1000;
	}

	.ghost-btn {
		border: none;
		padding: 0.5rem;
		@media screen and (min-width: 768px) {
			border: $border-soft;
			padding: 0.7rem 1.8rem;
		}
	}

	.nav-btn-text {
		display: none;

		@media screen and (min-width: 768px) {
			display: block;
		}
	}

	.nav-btn-icon {
		width: 35px;

		@media screen and (min-width: 768px) {
			width: 25px;
		}
	}

	.nav-menu {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: 5rem 2rem 3rem;
		box-shadow: $shadow-soft;

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;

		opacity: 0;
		visibility: hidden;
		transform: translateY(-20px);
		z-index: 100;

		&.show-menu {
			opacity: 1;
			visibility: visible;
			background-color: #fff;
			transform: translateY(0);
		}

		.nav-link {
			font-size: 1.1rem;
			color: $dark-color;
			font-weight: 500;

			&:hover {
				color: $primary-color;
			}
		}

		@media (min-width: 768px) {
			position: static;
			width: auto;
			padding: 0;
			background-color: transparent;
			box-shadow: none;

			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 40px;

			opacity: 1;
			visibility: visible;
			transform: none;
		}
	}
}
