@import "reset";
@import "navbar";
@import "animations";
@import "footer";

/* =====================
   HERO SECTION
===================== */
.hero {
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	gap: 40px;
	max-width: 1100px;
	@include flex-center();
	background: linear-gradient(to bottom, transparent 30%, $primary-color 50%);
	max-width: unset;
	width: 100%;

	.hero-text {
		text-align: center;
		margin-top: 3rem;

		.hero-title {
			font-size: 2.2rem;
			font-weight: 600;
			color: #2d3138;
			line-height: 1.1;
			margin-bottom: 1rem;

			@media (min-width: 768px) {
				font-size: 3.2rem;
			}
		}

		.hero-subtitle {
			font-size: 1.1rem;
			margin-bottom: 2rem;
			opacity: 0.8;
		}
	}

	.cta-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 15px;

		@media screen and (min-width: 768px) {
			flex-direction: row;
		}
	}

	.hero-images-container {
		width: 95%;
		max-width: 1100px;
		aspect-ratio: 16/9;
		position: relative;
	}

	.hero-image {
		border-radius: $border-radius-general;
		background: hsla(0, 0%, 100%, 0.3);
		backdrop-filter: blur(5px);
		border: solid 1px white;
		padding: 0.45rem;
		box-shadow: $shadow-hard;
		position: absolute;

		&:first-child {
			top: 0;
			left: 0;
		}
		&:last-child {
			bottom: -15%;
			right: -20px;
			max-height: 100%;
			width: auto;
		}
	}
}

// Social Proof
.social-proof-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 60px;
	color: white;
	margin-top: 3rem;

	.ratings-row {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 30px;

		@media screen and (min-width: 768px) {
			grid-template-columns: repeat(4, 1fr);
			max-width: 600px;
		}
	}

	.rating-item {
		display: flex;
		flex-direction: column;
		align-items: center;

		.rating-header {
			display: flex;
			align-items: center;
			gap: 5px;
		}

		.brand-icon {
			max-width: 35px;
		}

		.brand-name {
			font-weight: bold;
			text-wrap: nowrap;
			font-size: 1.1rem;
		}

		.stars-container {
			display: flex;
			align-items: center;
			gap: 8px;
		}

		.score {
			font-size: 0.9rem;
			font-weight: bold;
		}

		.stars {
			color: #ffcc00;
			font-size: 1.2rem;
		}
	}

	.stats-row {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: center;
		align-items: center;
		gap: 40px;

		@media screen and (min-width: 768px) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	.stat-item {
		text-align: center;
		flex: 1;

		h2 {
			font-size: 1.5rem;
			font-weight: 800;
			text-wrap: nowrap;

			@media screen and (min-width: 768px) {
				font-size: 2rem;
			}
		}

		p {
			font-size: 1.2rem;
			opacity: 0.9;
		}
	}
}

// Services Section
.services-section {
	text-align: center;

	.btn-primary {
		margin: 0 auto;

		&:hover {
			.btn-icon {
				transform: translateX(3px);
			}
		}
	}

	.services-container {
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;

		@media screen and (min-width: 768px) {
			grid-template-columns: repeat(3, 1fr);
			gap: 30px;
		}
	}

	.service-card {
		position: relative;
		overflow: hidden;
		border-radius: $border-radius-general;
		width: 100%;
		aspect-ratio: 1;
		display: block;
		box-shadow: $shadow-soft;

		.service-img {
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			z-index: 1;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(
				to bottom,
				transparent 60%,
				rgba(0, 0, 0, 0.8)
			);
			z-index: 2;
			pointer-events: none;
		}

		.service-title {
			position: absolute;
			text-align: left;
			max-width: 80%;
			bottom: 30px;
			left: 20px;
			color: white;
			font-weight: 600;
			z-index: 3;
			font-size: 1.1rem;

			@media screen and (min-width: 768px) {
				font-size: 1.5rem;
			}
		}

		&::after {
			content: url("../assets/icons/arrow-circle-right-fill.svg");
			position: absolute;
			bottom: 30px;
			right: 20px;
			scale: 1.5;
			z-index: 3;
			opacity: 0;
			transition: all 0.3s ease;
		}

		&:hover {
			.service-img {
				transform: scale(1.05);
			}

			&::after {
				opacity: 1;
			}
		}
	}
}

// Prices Section
.prices-section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
	gap: 2rem;

	@media screen and (min-width: 768px) {
		grid-template-columns: repeat(6, 1fr);
		gap: 2rem;
	}

	.price-img {
		width: 100%;
		max-width: 80px;

		&:nth-child(4),
		&:nth-child(6) {
			max-width: unset;
			max-height: 100%;
		}
	}
}

// Management Section
.management-section {
	background-color: $secondary-color;
	text-align: left;
	max-width: none;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-block: 4rem;

	.section-header {
		width: 100%;
		max-width: 1100px;

		.section-description {
			font-size: 0.9rem;
			line-height: 1.5;
			max-width: 700px;
		}
	}

	.management-container {
		display: flex;
		flex-direction: column;
		max-width: 1100px;
		gap: 40px;

		@media screen and (min-width: 768px) {
			flex-direction: row;
			justify-content: space-between;
			gap: 60px;
		}
	}

	.management-item {
		flex: 1;

		h3 {
			font-size: 1.6rem;
			margin-bottom: 1rem;
		}
	}
}
