@import "reset";
@import "navbar";
@import "animations";
@import "footer";

/* =====================
   HERO SECTION
===================== */
.hero {
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	gap: 40px;
	max-width: 1100px;
	@include flex-center();
	background: linear-gradient(to bottom, transparent 30%, $primary-color 50%);
	max-width: unset;
	width: 100%;

	.hero-text {
		text-align: center;
		margin-top: 3rem;

		.hero-title {
			font-size: 2.2rem;
			font-weight: 600;
			color: #2d3138;
			line-height: 1.1;
			margin-bottom: 1rem;

			@media (min-width: 768px) {
				font-size: 3.2rem;
			}
		}

		.hero-subtitle {
			font-size: 1.1rem;
			margin-bottom: 2rem;
			opacity: 0.8;
		}
	}

	.cta-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 15px;

		@media screen and (min-width: 768px) {
			flex-direction: row;
		}
	}

	.hero-images-container {
		width: 100%;
		max-width: 900px;
		aspect-ratio: 16/9;
		position: relative;
	}

	.hero-image {
		border-radius: $border-radius-general;
		background: transparent;
		backdrop-filter: blur(5px);
		border: solid 1px white;
		padding: 0.5rem;
		box-shadow: $shadow-hard;
		position: absolute;

		&:first-child {
			top: 0;
			left: 0;
			max-width: 815px;
		}
		&:last-child {
			bottom: -20px;
			right: -20px;
			max-height: 80%;
			width: unset;
		}
	}
}

// Social Proof
.social-proof-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 60px;
	color: white;
	margin-top: 3rem;

	.ratings-row {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 30px;

		@media screen and (min-width: 768px) {
			grid-template-columns: repeat(4, 1fr);
			max-width: 600px;
		}
	}

	.rating-item {
		display: flex;
		flex-direction: column;
		align-items: center;

		.rating-header {
			display: flex;
			align-items: center;
			gap: 5px;
		}

		.brand-icon {
			max-width: 35px;
		}

		.brand-name {
			font-weight: bold;
			text-wrap: nowrap;
			font-size: 1.1rem;
		}

		.stars-container {
			display: flex;
			align-items: center;
			gap: 8px;
		}

		.score {
			font-size: 0.9rem;
			font-weight: bold;
		}

		.stars {
			color: #ffcc00;
			font-size: 1.2rem;
		}
	}

	.stats-row {
		display: grid;
		grid-template-columns: 1fr;
		gap: 40px;

		@media screen and (min-width: 768px) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	.stat-item {
		text-align: center;
		flex: 1;

		h2 {
			font-size: 2.5rem;

			font-weight: 800;
			text-wrap: nowrap;
		}

		p {
			font-size: 1.2rem;
			opacity: 0.9;
		}
	}
}
